[defaults]
host_key_checking = False
forks = 50

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=10m -o ControlPath=~/.ssh/sockets/%r@%h:%p -o GSSAPIAuthentication=no -o PreferredAuthentications=publickey
